<form action="/events/new" method="post">
  <label for="post">Event Name: </label>
  <input type="text" name="name">
  <br>
  <label for="post">Location: </label>
  <input type="text" name="location">
  <br>
  <label for="post">Description: </label>
  <textarea name="description" rows="8" cols="50"></textarea>
</form>
